

header {
    height: 80px;
    
    
  }

  .label-boton, #checkBoton{
    display: none;
  }

  figcaption{
    padding-top: .8rem;
  }

  


header .main-container-nav {
    
    width: 90%;
    
  }

header .main-container-nav .main-container-nav--logo {
    
    height: 60px;
    width: 60px;
    margin-left: 0px;
    
  }
header .main-container-nav .main-contenedor-nav-left{
    
    display: flex;
    
    justify-content: space-between;
    
}

.main-section-slider .main-section-container-slider{
    background-image: url(../img/slide/slide3.jpg);
    height: 80vh;
      
  }

  main .main-section-proyectos .main-section-proyectos-catalogos{
    
   
    flex-direction: row !important;
    
    
}

  .main-section-quienes-somos{
    background-color: rgba(255, 155, 5, 0.507);
    height: 34vh;
    
  }

  .main-section-quienes-somos .quienes-somos--article{
    flex-direction: row;
  }

  .main-section-quienes-somos .quienes-somos--article h2{
    color: #5e4d3e;
    font-size: 2.5rem;
    
    
  }

  .main-section-quienes-somos .quienes-somos--article p{
    color: #332920;
    font-size: 1.5rem;
    width: 688px;
    
    
  }

  /* seccion mas proyectos */

  .section-masProyectos{
    /* background-color: #BDBEBF;
    width: 100%;
    min-width: 310px;
    padding-top: 3rem; */
  }

  .section-masProyectos section{
    
      flex-direction: row;
      flex-wrap: nowrap;
    
    
    
  }


  .section-masProyectos section .container-img .figure-img{
    /* width: 100%;
    height: auto;
    flex: 1 0 40%; */
    
  }

  .section-masProyectos__card{
    /* width: 90%;
    height: auto;
    margin: 0 auto; */
    
    
  }
  
  .section-masProyectos__card img{
    /* width: 100%; */
  
  }
  .section-masProyectos section .container-img__title {
    
    /* flex: 2 1 60%;
    padding-top: 1.5rem;
    text-align: center; */
    
  }

  .section-masProyectos section .container-img__title h3{
    /* font-size: 1.5rem;
    line-height: 54px; */
    
  }

  .section-masProyectos section .container-img__title p{
    /* font-size: 1.3rem;
    line-height: 54px; */
    
  }

  .section-masProyectos section .container-img__title a{
    
    /* display: block;
    padding: 1rem;
    background-color: #BDBEBF;
    border: solid 1px;
    color: #332920; */
    
  }

  /* .main-section-redes-sociales{
    
    padding-bottom: 1.5rem;
    
} */