*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'IM Fell French Canon', serif;
}

header {
  height: 60px;
  width: 100%;
  
  /* background-color: rgb(255, 255, 255); */
  
  
}

header .main-container-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    min-width: 320px;
    height: inherit;
    
  }


header h2 {
  font-size: 30px;
}

/* header .main-contenedor-nav-left{
    display: none;
} */
header .main-contenedor-nav-left a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 1.5rem;
}

header .main-contenedor-nav-rigth a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 1.5rem;
  }



header .main-container-nav .main-container-nav--logo {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  margin-left: 1rem;
}

.estilos-boton{
    margin-right: 1rem;
}



/* estilos seccion slider */

.main-section-slider{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main-section-slider .main-section-container-slider{
    background-image: url(../img/slide/slide1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
   
}

.main-section-slider .main-section-container-slider::before{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(21, 39, 1, 0.418);
    
    
    
   
}
.main-section-container-slider .contenedor-slider-titulo{
    width: 80%;
    min-width: 320px;
    z-index: 1;
    margin-left: 1rem;

}
.main-section-container-slider .contenedor-slider-titulo h1{
    
    font-size: 2.5rem;
    margin-bottom: .3rem;
    color: floralwhite;

}

.main-section-container-slider .contenedor-slider-titulo p{

    font-size: 1.5rem;
    color: floralwhite;

}

.main-section-container-slider .contenedor-slider-titulo a{

    font-size: 1rem;
    display: inline-block;
    background-color: #78be08;
    padding: .7rem;
    border-radius: 5px;
    margin-top: 1rem;
    color: azure;

}

/* estilos main */
main{
    width: 100%;
    height: auto;
}

main .main-section-proyectos{
    width: inherit;
    height: auto;
    
}

main .main-section-proyectos h2{
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 900;

}

main .main-section-proyectos p{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    

}

main .main-section-proyectos .main-section-proyectos-catalogos{
    
    width: 90%;
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap:.5rem;
    
    


    
}

main .main-section-proyectos .main-section-proyectos-catalogos .main-section-proyectos-img{
    width: 90%;
    margin: 0 auto;
    height: auto;
   
}



.main-section-proyectos-img--img{
    width: 100%;
    height: 90%;
    object-fit: cover;  
}

/* seccion quienes somos */
.main-section-quienes-somos{
    margin-top: 4.5rem;
    width: 100%;
    background-color: #f5c61e8f;
    height: auto;
    
    
}


.main-section-quienes-somos .quienes-somos--article{
    width: 90%;
    min-width: 320px;
    height: auto;
    text-align: center;
    padding: 1.5rem;
    margin: 0 auto;
    padding-bottom: 3.4rem;
}

.main-section-quienes-somos .quienes-somos--article h2{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
}

.main-section-quienes-somos .quienes-somos--article p{
    font-size: 18px;
}

/* main seccion redes sociales */

.main-section-redes-sociales{
    width: 100%;
    height: auto;
    padding-top: 3rem;
    text-align: center;
}

.redes-sociales-container{
    width: 90%;
    min-width: 300px;
    height: auto;
    margin: 0 auto;
}

.redes-sociales-container h3{
    font-size: 24px;
    padding-bottom: 1rem;
    line-height: 2rem;
}

.redes-sociales-container p{
    
    padding-bottom: 2rem;
    
}

.container-imagenes{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
    
    
}

.main-section-redes-sociales .section-redes-img{
    width: 48%;
    height: 50%;
    /* box-shadow:  2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px rgba(0,0,0,0.12) , 0px 1px 5px 0px rgba(0,0,0,0.2)  */
}
.main-section-redes-sociales .section-redes-img .section-redes-img--img{

    width: 92%;
    border: 1px solid;

}

.main-iconos-redes{
    width: 100%;
    height: 10vh;
    
}

.iconos-redes-container{
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 3rem ;
    
}

.iconos-redes-container a{
    color: aliceblue;
    
    
}

.iconos-redes-container i{
    font-size: 25px;
    padding: .5rem;
    
}

i{
    color: #232021;
    
}

/* footer */
footer{
    padding-top: 1rem;
    width: 100%;
    height: auto;
    background-color: #232021;
}

.main-footer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-footer a{
    padding-top: 1rem;
    padding-bottom: 1rem ;
    font-size: 22px;
}

.main-footer span{
    padding-bottom: 2rem ;
    font-size: 22px;
}

